.container {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  min-width: 600px;
  /* min-width: fit-content; */
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  /* border-bottom: 1px solid var(--twitter-background); */
  padding: 15px 20px;
  padding-bottom: 10px;
  font-size: 15px;
  padding-left: 25px;
}

.arrow {
  position: sticky;
  top: 4%;
  background-color: white;
  z-index: 100;
  /* border-bottom: 1px solid var(--twitter-background); */
  padding: 15px 20px;
  padding-bottom: 0;
  font-size: 15px;
  padding-left: 0px;
}
.arrow:hover {
  cursor: pointer;
}
