@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shizuru&display=swap");

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--twitter-background);
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
  background-color: white;
  justify-content: space-around;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  background-color: white;
}
.tweetBox__input > input:focus {
  outline: none;
}
.tweetBox__imageInput {
  border: none;
  padding: 10px;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 35px !important;
  margin-top: 0px !important;
  margin-left: auto !important;
}

.happening-text {
  font-size: 50px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
