@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shizuru&display=swap");

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body > img {
  border-radius: 20px;
}

.post__footer {
  display: flex;
  width: 88%;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 0px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 5px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__avatar {
  padding: 10px;
}

.red {
  color: red;
}
.icon {
  padding: 6px;
  border-radius: 50%;
}
.icon-comment:hover {
  cursor: pointer;
  background-color: #e1eef6;
  color: #1d9bf0;
}

.icon-like:hover {
  cursor: pointer;
  background-color: #f7e0eb;
  color: #f9499a;
}
.liked {
  color: #f9499a;
}

.icon-retweet:hover {
  cursor: pointer;
  background-color: #def1eb;
  color: #00ba7c;
}
.icon-download:hover {
  cursor: pointer;
  background-color: #e1eef6;
  color: #1d9bf0;
}
